{{#each this}}
    <div class="card-img">
        <img src="{{flag}}" alt="{{name}}" class="card-img">
    </div>
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">Capital: {{capital}}</p>
        <p class="card-text">Population: {{population}}</p>
        <p class="card-text">Languages: <span>{{#each languages}}{{name}}{{#unless @last}},{{/unless}} {{/each}}</span></p>
    </div>
{{/each}}



